.section3 {
  margin-top: 111px;
  .boxes1,
  .boxes2 {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    .box1,
    .box2 {
      height: 240px;
      width: 545px;
      position: relative;
      background: $Gray;
      border-radius: 15px;
      .fa-bookmark {
        color: #a8a8a8;
        position: absolute;
        left: 66px;
        bottom: 185px;
      }
      .circle-icon {
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
      .cardImg {
        position: absolute;
        left: -60px;
        border-radius: 15px;
      }
      .text {
        .icon {
          top: 23px;
          position: absolute;
          right: 23px;
        }
        .title {
          top: 21px;
          position: absolute;
          left: 142px;
        }
        p {
          top: 67px;
          position: absolute;
          left: 142px;
        }
        .footer {
          bottom: 21px;
          position: absolute;
          left: 142px;
          .download {
            margin-left: 279px;
            i {
              padding-right: 3px;
            }
          }
        }
      }
    }
    .box1 {
      left: 60px;
    }
  }
}

//RESPONSIVE TABLET

@media #{$tablet} {
  .section3 {
    display: none;
  }
}
