.section4 {
  margin-top: 170px;
  .boxes1,
  .boxes3 {
    display: flex;
    justify-content: space-between;
    .box1,
    .box2,
    .box3 {
      height: 338px;
      width: 400px;
      position: relative;
      background: #ffffff;
      box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.15);
      border-radius: 15px;
      img {
        position: absolute;
        bottom: 183px;
      }
    }
  }
  .boxes2 {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    .box1 {
      width: 693px;
      margin-left: 123px;
      height: 398px;
      img {
        position: absolute;
        right: 310px;
      }
    }
    .box2 {
      width: 400px;
      height: 338px;
      align-self: flex-end;
      img {
        position: absolute;
        bottom: 183px;
      }
    }
    .box1,
    .box2 {
      position: relative;
      background: #ffffff;
      box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.15);
      border-radius: 15px;
    }
  }

  .boxes3 {
    margin-top: 110px;
  }
}
