@import "./responsiveVariables";
@import "./colorVariables";
@import "./typography";
@import "./header";
@import "./section1";
@import "./section2";
@import "./section3";
@import "./section4";
@import "./partners";
@import "./footer";

* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0px 340px;
}

@media #{$phone} {
  .container {
    margin: 0px 0px;
  }
}

@media #{$tablet} {
  .container {
    margin: 0px 0px;
  }
}

@media #{$desktop} {
  .section1 {
    .box4 {
      display: none;
    }
  }
}
